.header__lang-link {
    color: white;
    text-decoration: none;
    width: 29px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    transition: opacity .2s linear;
}

.header__lang-link:hover{
    opacity: .2;
}

@media all and (max-width:424px) {
    .header__lang-link {
        width: 22px;
        font-size: 18px;
        line-height: calc(20/18);
    }
}