.intro {
    display: flex;
    flex-direction: column;
    max-width: 690px;
}

@media all and (max-width:1023px) {
    .intro {
        max-width: 93%;
        margin: 74px auto 0 auto;
    }
}
@media  all and (min-width:1024px) {
    .intro {
        margin:0 4.5%;
    }
}
@media  all and (min-width:1280px) {
    .intro {
        margin:0 11.5%;
    }
}