.lead__subtitle {
    max-width: 640px;
    margin: 0 auto 49px auto;
    font-size: 30px;
    font-weight: 400;
    color: white;
    text-align: center;
    line-height: 1.2;
}

@media all and (max-width:767px) {
    .lead__subtitle {
        max-width: 288px;
        line-height: 1.25;
        font-size: 16px;
    }
}