.lead__caption {
    max-width: 158px;
    margin:0 0 8px 0;
    font-size: 10px;
    font-weight: 400;
    color: white;
    line-height: 1.4;
    letter-spacing: 1.5px;   
}

@media all and (max-width:1023px) {
    .lead__caption {
        margin-left: 24px; 
    }
}

@media all and (max-width:424px) {
    .lead__caption {
        margin-left: 18px; 
    }
}
